.App {
}

.unAuthWrap {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.unAuthorized {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 90vw;
  font-weight: 400 !important;
  font-size: 2.5rem;
  text-align: center;
  margin-left: -5vw;
}

.ethTower {
  height: 70%;
}

.unlogo {
  height: 100vh;
  width: 10vw;
}

.log {
  width: 200px;
  height: 50px;
  margin: 30px 0 0 20px;
}

/* Scrollbar */ 
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1da; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1ab; 
}

/* Input Field*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}