.App {
}

.unAuthWrap {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.unAuthorized {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 90vw;
  font-weight: 400 !important;
  font-size: 2.5rem;
  text-align: center;
  margin-left: -5vw;
}

.ethTower {
  height: 70%;
}

.unlogo {
  height: 100vh;
  width: 10vw;
}

.log {
  width: 200px;
  height: 50px;
  margin: 30px 0 0 20px;
}