.barLinks {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#sideLink {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    /* line-height: 80px; */
    margin: 25px 0;
    /* identical to box height */
    cursor: pointer;
    letter-spacing: 0.1em;
}

.actLinkS {
    font-weight: 500 !important;
}