.DonationBox {
    height: 105%;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 0.6fr;
    grid-gap: 3em;
}

.donateCard {
    background: rgba(86, 85, 85, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0.75em 1.25em;
    font-size: 0.9rem;
    min-height: 320px;
    border-bottom: 5px solid #472F99;
    text-align: center;
}

.identiDisplay {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.donateDiv {
    display: flex;
    justify-content: space-around;
    border: 2px solid #472F99;
    border-radius: 3px;
    margin-top: 10px;
}

#ident {
    border-radius: 50%;
    height: 25px;
}

#donationDisp {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inpinp {
    background-color: #482f9915;
    border: none;
    color: white;
    padding-left: 1em;
}

button {
    cursor: pointer;
    padding: 4px;
}

.cutcutbut {
    width: 100%;
    padding: 0.25em;
    background-color: #472F99;
    color: white;
}

.cutcutbut2 {
    width: 100%;
    padding: 0.5em;
    background-color: #472F99;
    color: white;
    margin-top: 10px;
}

.prodPrice {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.priceP {
    background-color: #472F99;
    padding: 0.5em;
    margin: -5px 10px 8px 0
}

#sold {
    background-color: rgba(255, 0, 0, 0.87);
}