.navnav {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    color: rgba(255, 255, 255, 0.5);
}

#account {
    display: flex;
    align-items: center;
    min-width: 31vw;
    font-size: 1rem;
}

#account img {
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
}